 <aside class="sidebar">
      <div class="artist-name">
        <a href="/el/index.html"><img src="/images/logo.png" alt="Logo"></a>
      </div>
      <nav>
        <ul>
          <li>
            <a class="has-submenu">Επιλεγμένα Έργα &nbsp;&#x25BC; </a>
            <ul class="submenu">
           <li><a href="/el/textile.html">Textile</a></li>
              <li><a href="/el/paintings.html">Ζωγραφική</a></li>
              <li><a href="/el/sculptures.html">Γλυπτά</a></li>
            </ul>
          </li>
          <li>
            <a class="has-submenu">Εκθέσεις &nbsp; &#x25BC; </a>
            <ul class="submenu">
		<!--	<li><a href="/el/larnaca.html">&nbsp; &nbsp;Larnaca Biennale</a></li> -->	
				<li><a href="/el/thedro.html">&nbsp; &nbsp;Thedro</a></li> 
		    <li><a href="/el/eyes.html">&nbsp; &nbsp;Silent Watching Eyes</a></li>
             <li><a href="/el/interior.html">&nbsp; &nbsp;Interior Infinito</a></li>
	             <li><a href="/el/biennale.html">&nbsp; &nbsp;Contextile Biennale</a></li>     
               <li><a href="/el/dowry.html">&nbsp; &nbsp;Dowry</a></li>
               <li><a href="/el/nemo.html">&nbsp; &nbsp;Nemophilist</a></li>
	             <li><a href="/el/sym.html">&nbsp; &nbsp;Symbiosis XV Biennale</a></li>
               <li><a href="/el/inner.html">&nbsp; &nbsp;Innercolors</a></li>
            </ul>
          </li>
	  <li><a href="/el/news.html">Δημοσιεύσεις</a></li>
          <li><a href="/el/cv.html">Βιογραφικό </a></li>
	  <li><a href="/el/contact.html">Επικοινωνία </a></li>
        </ul>
      </nav>
    </aside>
