<div class="mobile-nav" id="mobileNav">
  <nav>
    <ul>
     <li>
            <a class="has-submenu">Επιλεγμένα Έργα &nbsp;&#x25BC; </a>
            <ul class="submenu">
           <li><a href="/el/textile.html">Textile</a></li>
              <li><a href="/el/paintings.html">Ζωγραφική</a></li>
              <li><a href="/el/sculptures.html">Γλυπτά</a></li>
            </ul>
          </li>
          <li>
            <a class="has-submenu">Εκθέσεις &nbsp; &#x25BC; </a>
            <ul class="submenu">
	<li><a href="/el/solo.html">&nbsp; &nbsp;Ατομικές Εκθέσεις</a></li> 
				<li><a href="/el/biennales.html">&nbsp; &nbsp;Biennale & Βραβεία</a></li> 
		    <li><a href="/el/group.html">&nbsp; &nbsp;Ομαδικές Εκθέσεις</a></li>
             <li><a href="/el/archive.html">&nbsp; &nbsp;Αρχείο Εκθέσεων</a></li>
            </ul>
          </li>
	  <li><a href="/el/news.html">Δημοσιεύσεις</a></li>
          <li><a href="/el/cv.html">Βιογραφικό </a></li>
	  <li><a href="/el/contact.html">Επικοινωνία </a></li>
    </ul>
  </nav>
</div>
