<footer> 
  <div class="row">
   <b>Nikos Iosif</b>&nbsp;&nbsp;

    <a href="https://www.facebook.com/nikos.iosif.9" target="_blank" rel="noopener noreferrer">
      <img src="/images/facebook.png" class="icon" alt="Facebook profile of Nikos Iosif">
    </a>

    <a href="https://www.instagram.com/nickiosif_/" target="_blank" rel="noopener noreferrer">
      <img src="/images/instagram.png" class="icon" alt="Instagram profile of Nikos Iosif">
    </a> 
  <p class="hidding">Studio @ Paparigopoulou 15</p>
    
    <a href="https://maps.app.goo.gl/16E3ozNpLv2mUtsr8" target="_blank" rel="noopener noreferrer">
      <img src="/images/google.png" class="icon" alt="View Nikos Iosif's studio location on Google Maps">
    </a>

    <div class="footer-right">
      <a href="https://www.yfeos.com/" target="_blank" rel="noopener noreferrer" class="footer-link">
        YFEOS <span aria-hidden="true">↗</span>
      </a>
      <p class="footer-text">Official e-commerce store</p>
    </div>
  </div>
</footer>
