<div class="mobile-nav" id="mobileNav">
  <nav>
    <ul>
      <li>
        <a class="has-submenu">Selected works &#x25BC;</a>
        <ul class="submenu">
          <li><a href="/en/textile.html">Textile</a></li>
          <li><a href="/en/paintings.html">Paintings</a></li>
          <li><a href="/en/sculptures.html">Sculptures</a></li>
        </ul>
      </li>
      <li>
        <a class="has-submenu">Exhibitions &#x25BC;</a>
        <ul class="submenu exhibitions-list">
          <li><a href="/en/solo.html">&nbsp;&nbsp;Solo Exhibitions</a></li> 
          <li><a href="/en/biennales.html">&nbsp;&nbsp;Biennale & Awards</a></li>
          <li><a href="/en/group.html">&nbsp;&nbsp;Group Exhibitions</a></li>
          <li><a href="/en/archive.html">&nbsp;&nbsp;Archive</a></li>
        </ul>
      </li>
      <li><a href="/en/news.html">News &nbsp; / &nbsp;Press</a></li>
      <li><a href="/en/cv.html">Bio</a></li>
      <li><a href="/en/contact.html">Contact</a></li>
    </ul>
  </nav>
</div>
