<aside class="sidebar">
  <div class="artist-name">
    <a href="/en/index.html"><img src="/images/logo.png" alt="Logo"></a>
  </div>
  <nav>
    <ul>
      <li>
        <a class="has-submenu">Selected works &#x25BC;</a>
        <ul class="submenu">
          <li><a href="/en/textile.html">Textile</a></li>
          <li><a href="/en/paintings.html">Paintings</a></li>
          <li><a href="/en/sculptures.html">Sculptures</a></li>
        </ul>
      </li>
      <li>
        <a class="has-submenu">Exhibitions &#x25BC;</a>
        <!-- keep hard-coded list for now (we’ll swap to JSON later) -->
        <ul class="submenu exhibitions-list">
    <li><a href="/en/larnaca.html">&nbsp; &nbsp;Larnaca Biennale</a></li> 
          <li><a href="/en/thedro.html">&nbsp; &nbsp;Thedro</a></li>
          <li><a href="/en/eyes.html">&nbsp;&nbsp;Silent Watching Eyes</a></li>
          <li><a href="/en/interior.html">&nbsp;&nbsp;Interior Infinito</a></li>
          <li><a href="/en/biennale.html">&nbsp;&nbsp;Contextile Biennale</a></li>
          <li><a href="/en/dowry.html">&nbsp;&nbsp;Dowry</a></li>
          <li><a href="/en/nemo.html">&nbsp;&nbsp;Nemophilist</a></li>
          <li><a href="/en/sym.html">&nbsp;&nbsp;Symbiosis XV Biennale</a></li>
          <li><a href="/en/inner.html">&nbsp;&nbsp;Innercolors</a></li>
        </ul>
      </li>
      <li><a href="/en/news.html">News &nbsp; / &nbsp;Press</a></li>
      <li><a href="/en/cv.html">Bio</a></li>
      <li><a href="/en/contact.html">Contact</a></li>
    </ul>
  </nav>
</aside>
